<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.research.tools"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="com.research.tools.permission.MAPS_RECEIVE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <permission
        android:name="com.research.tools.MAPS_RECEIVE"
        android:protectionLevel="signature" />
    


    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
    
    	<meta-data
        android:name="com.google.android.maps.v2.API_KEY"
        android:value="AIzaSyAGuZ6r-Giq3s0ZYsAiVd25te8s8sZAWrk"/>
    	
    	<meta-data
    	android:name="com.google.android.gms.version"
    	android:value="@integer/google_play_services_version" />
        <activity
            android:name="com.research.tools.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.research.tools.CellActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.research.tools.TestActivity"
            android:label="@string/title_activity_test" >
        </activity>
        <activity
            android:name="com.research.tools.GraphActivity"
            android:label="@string/title_activity_graph" >
        </activity>
        <activity
            android:name="com.research.tools.MapMssgActivity"
            android:label="@string/title_activity_map_mssg" >
        </activity>
    </application>

</manifest>
